name: Build Docker Image

on:
 # push:
    branches:
      - main 
  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout your code
      - name: Checkout code
        uses: actions/checkout@v4

       # 2. Log in to Docker (optional — only needed if you’re pushing to a registry)
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Set up Docker Buildx (for better build functionality)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v3
        with:
           context: ./order-service
           file: ./order-service/Dockerfile
           tags: my-image-name:latest
           push: false   # or `true` if you want to push

          
